<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>男性のためのPMSクイズ</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <h1>男性のためのPMSクイズ</h1>
    <div id="quiz_section" v-if="onQuiz">
      <h2>クイズ</h2>
      <form>
        <div class="question" v-for="(q, i) of quizList">
          <p>第{{i+1}}問：{{q.statement}}</p>
          <div class="options" v-for="opt of shuffle(q.options)">
            <label><input type="radio" v-model="answers[i]" :value="opt.value" />{{opt.statement}}</label><br />
          </div>
        </div>
        <button @click.prevent="showResult">判定結果を表示する</button>
        <span v-if="fewAnswers">全項目に回答してください</span>
      </form>
    </div>

    <div id="resule_section" v-else>
      <h2>結果</h2>
      <p>{{answers}}（結果をテスト表示）</p>
      <p id="resultMessage">{{judgmentList[judge].statement}}</p>
      <ul>
        <li v-for="link of judgmentList[judge].links"><a :href="link.url">{{link.title}}</a></li>
      </ul>

      <button @click="location.reload()">もう一度やる</button>
    </div>
    <script src="https://unpkg.com/petite-vue"></script>
    <script src="script.js"></script>
  </body>
</html>
